# This is gitignore file

##############
## binaries 
##############
 
*.a
*.bin
*.out
*.elf
*.exe
*.hex
*.o

################
## temp files
################
*.s
*.i

##################
## Miscellaneous 
##################
 
EXAMPLE.mk
*.vscode
*.mm
